html, body {
  height: 100%;
}

div.content {
  height: 100%;
}

main {
  margin-left: $sidebar-width;
  min-height: 100%;
  padding: $base-spacing;
  width: $max-width;
}

nav.sidebar {
  width: $sidebar-width;
  height: 100%;
  position: fixed;
}
